@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply tracking-tight text-neutral-200;
}

html {
  @apply bg-neutral-900;
}

body {
  @apply h-screen bg-gradient-to-b from-neutral-950 to-neutral-900;
  @apply overflow-x-hidden;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar-track {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
