@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply tracking-tight text-neutral-200;
}

html {
  @apply bg-neutral-900;
}

body {
  @apply h-screen bg-gradient-to-b from-neutral-950 to-neutral-900;
  @apply overflow-x-hidden;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body {
  overflow: scroll; /* or auto */
}

/* Optionally, you can add styles for Firefox and other browsers */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
